/* .headerRoot {
  /* background-color: #00d2a8; */
/* height: 100px;  
} */
.pc {
  color: #00d2a8 !important;
}
.pb {
  background-color: #00d2a8 !important;
}
.sc {
  color: #ffff00 !important;
}
.sb {
  background-color: #ffff00 !important;
}
.sch:hover {
  color: #ffff00 !important;
}
.sbh:hover {
  background-color: #ffff00 !important;
}
.navItemtop {
  padding: 10px;
  font-size: 14px;
  font: 300 12px 'Open Sans',verdana,arial;
  /* text-align: right; */
  cursor: pointer;
  /* border-right: 1px solid white; */
}
.navItemtop:hover {
  text-decoration: none;
  color: #ffff00;
}
.navItemtopDown {
  height: 34px;
  width: 100%;
  text-align: center;
  color: #fff;
  font: 300 20px 'Open Sans',verdana,arial;
  padding-top: 8px;
  padding: 12px;
  text-decoration: none;
  display: block;
  transition: border 300ms linear;
  /* text-align: right; */
  /* border-right: 1px solid lightgray; */
}
.navItemtopDown:hover {
  /* padding: 6px; */
  /* font-size: 12px; */
  text-decoration: none;
  border-bottom: 2px solid #ffff00;
  opacity: 1;
  color: #ffff00;
  /* text-align: right; */
  /* border-right: 1px solid lightgray; */
}
