.text-small {
  font-size: 0.9rem;
}
.themecolor {
  color: #ffff00 !important;
}
.whiteTheme {
  color: white !important;
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #0c6667;
  border-color: #0c6667;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #00d2a8;
  font-family: "Nunito";
  padding: 0px 12%;
  font-size: 12px !important;
}
.linkdecorationn {
  margin-top: 100px;
  text-decoration: none;
  text-decoration-color: none;

  color: #adb5bd;
  font-size: 16px;
  /* margin-top: 10px !important; */
}
.linkdecorationn:hover {
  transition: all 0.5s ease;

  color: #ffff00 !important;
}
.linkdecorationninner:hover {
  color: #ffff00;
}

.linkdecorationninner {
  text-decoration: none;

  font-size: 14px !important;
  color: white;
}
.linkdecorationninner:hover {
  color: #ffff00;
}
.containerUpdate {
  /* border: 1px solid red; */
  /* margin: 0px 10px 0px 10px; */
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding: 0; */
}
.buttonDesigmEamil {
  float: center;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #ffff00;
  color: white;
  font-weight: bolder;
}
.socialMediaLinkss {
  height: 35px;
  padding: 3px;
  padding-right: 10px;
  padding-left: 8px;
  margin-right: 10%;
  border-radius: 5px;
  border: 1px solid #5a5e63;
}
.socialMediaLinkss:hover {
  background-color: #ffff00;
  border: 1px solid #ffff00;
  transition: all 0.5s ease;
}
.linkinternalStylee {
  color: white;
  font-weight: bold;
  padding-top: 4px;
  padding-left: 1.5px;
  font-size: 20px;
}

.sociallinks {
  /* border: 1px solid #5a5e63; */
  margin: 4px;
  padding: 8px;
  font-size: 20px;
  border-radius: 20px;
  background-color: white;
  color: #0c6667;
}
.sociallinks:hover {
  background-color: #ffff00;
  color: white;
}
.imageDesignFooter {
  width: 45%;
  height: 40px;
}
.numberDesign {
  margin: 1px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.linksfooterdesugn {
  padding: 1px 10px;
  color: white;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.hiddenDivFoooter {
  width: 25%;
  font-size: 12px;
  text-align: left;
  transition: "all 0.3s ease";
  /* align-items: flex-start; */
}
.hiddenDivFoooterItem {
  /* align-content: flex-start; */
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 700px) {
  .imageDesignFooter {
    width: 35%;
  }
}
.linkdecorationninner {
  color: white;
}
.linkdecorationninner:hover {
  color: #ffff00;
}
